<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PasswordManagementTools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09CE26C51E30D235003F7FCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09CE26DC1E30D235003F7FCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09CE26E71E30D235003F7FCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
